@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Minhye';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Minhye.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind utilities;
